// footer
section#footer.footer
	.container
		ul.inline-layout.col-3
			li.ft-list
				h5 Contact Us
				.text-block 
					p Phone numbers:
					span +12 345 67 00 89, +12 987 00 65 43
				.text-block 
					p E-mail:
					span sales@you-site.com
				.text-block 
					p Business hours
					span Monday - Friday 10AM - 6PM
				.text-block 
					ul.list-inline.social-list
						li
							a(href="#")
								i.fa.fa-facebook(aria-hidden="true")
						li
							a(href="#")
								i.fa.fa-twitter(aria-hidden="true")
						
			li.ft-list.services
				h5 Services
				.inline-layout
					.text-block
						a(href="#")
							.image-holder
								img(src="img/content/ts-1.png", alt="")
						a(href="#")
							.image-holder
								img(src="img/content/ts-2.png", alt="")
						a(href="")
							.image-holder
								img(src="img/content/ts-3.png", alt="")
					.text-block
						a(href="#")
							.image-holder
								img(src="img/content/ts-1.png", alt="")
						a(href="#")
							.image-holder
								img(src="img/content/ts-2.png", alt="")
						a(href="")
							.image-holder
								img(src="img/content/ts-3.png", alt="")
				
			li.ft-list
				h5 Send us a messege
				form(action="")
					.form
						input(type="text", placeholder="Enter Name")
						input(type="text", placeholder="Enter Email")
						textarea#dfdf(name="", placeholder="Enter Your messege")
						button.button Send us
		.underline
			ul.list-inline
				li
					a(href="#").js-impressum-open impressum 
				li
					a(href="#").js-agb-open AGB
