extends layout

block vars
	- var title = "Ampira"
	- var navigation = "index"


block content
	section.main-slider
		.owl-carousel.owl-1.owl-theme
			.item
				.image-holder
					img.fake-img(src='img/content/ot13.jpg', alt='img/content/anounc-1.png')
					.img(style='background-image: url("img/content/ot13.jpg")')
				.text-holder
					p Create you digital 
						strong industrial 
					p
						strong website 
						span professionally
					p Create you digital 
						strong industrial
				a(href="#").consultation.js-services-btn.button Services
			.item
				.image-holder
					img.fake-img(src='img/content/ot14.jpg', alt='img/content/anounc-1.png')
					.img(style='background-image: url("img/content/ot14.jpg")')
				.text-holder
					p Create you digital
						strong industrial
					p
						strong website 
						span professionally
				a(href="#").consultation.js-testimonials-btn.button testimonials

			.item
				.image-holder
					img.fake-img(src='img/content/ot15.jpg', alt='img/content/anounc-1.png')
					.img(style='background-image: url("img/content/ot15.jpg")')
				.text-holder
					p Create you digital
						strong industrial 
					p
						strong website 
						span professionally
				a(href="#").consultation.js-contact-btn.button Contact us


	section#services.about-us
		.container
			.ab-block
				.text-holder.wow.bounceInRight
					h5 About us
					h3
						|We are the best
						br
						|service provider
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea consectetur dolorem, enim explicabo necessitatibus, eius, dolores iure corporis adipisci tempora voluptatibus officia. Beatae perspiciatis possimus, quos nemo exercitationem reiciendis, odio! Alias accusantium commodi aliquid temporibus esse, numquam, nam dolorum nemo!
				.image-holder.wow.bounceInLeft
					img(src="img/content/art1-1.png", alt="")
			.ab-block
				.text-holder.wow.bounceInLeft
					h5 About us
					h3 We are the best service provider
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea consectetur dolorem, enim explicabo necessitatibus, eius, dolores iure corporis adipisci tempora voluptatibus officia. Beatae perspiciatis possimus, quos nemo exercitationem reiciendis, odio! Alias accusantium commodi aliquid temporibus esse, numquam, nam dolorum nemo!
				.image-holder.wow.bounceInRight
					img(src="img/content/art1-2.png", alt="")
			.ab-block
				.text-holder.wow.bounceInRight
					h5 About us
					h3
						|We are the best
						br
						|service provider
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea consectetur dolorem, enim explicabo necessitatibus, eius, dolores iure corporis adipisci tempora voluptatibus officia. Beatae perspiciatis possimus, quos nemo exercitationem reiciendis, odio! Alias accusantium commodi aliquid temporibus esse, numquam, nam dolorum nemo!
				.image-holder.wow.bounceInLeft
					img(src="img/content/art1-1.png", alt="")
	
	section#getstarted.get-start
		.container
			h3 Get starting to growing you business
			p
				|When we say it`s never been easier to start a bussines, we mean it. Shopify handles everything from
				|and 
				| to secure checkoute and
				| . Now you can focus on the things you love.


 
	section.comand-slider
		.owl-carousel.owl-2.owl-theme
			.item
				.image-holder
					img.fake-img(src='img/content/s1.jpg', alt='img/content/anounc-1.png')
					.img(style='background-image: url("img/content/s1.jpg")')
				.text-holder
					p Create you digital  Create you digital  Create you digital 
						
			.item
				.image-holder
					img.fake-img(src='img/content/s2.jpg', alt='img/content/anounc-1.png')
					.img(style='background-image: url("img/content/s2.jpg")')
				.text-holder
					p Create you digital Create you digital Create you digital
						

			.item
				.image-holder
					img.fake-img(src='img/content/s3.jpg', alt='img/content/anounc-1.png')
					.img(style='background-image: url("img/content/s3.jpg")')
				.text-holder
					p Create you digital Create you digital Create you digital
						
			.item
				.image-holder
					img.fake-img(src='img/content/s4.jpg', alt='img/content/anounc-1.png')
					.img(style='background-image: url("img/content/s4.jpg")')
				.text-holder
					p Create you digital reate you digital
						
			.item
				.image-holder
					img.fake-img(src='img/content/s5.jpg', alt='img/content/anounc-1.png')
					.img(style='background-image: url("img/content/s5.jpg")')
				.text-holder
					p Create you digital Create you digital


	section.join
		.container
			h3
				| Join nore than 377,500 ambitious people who have sold over $29 billion using Shopify 
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, incidunt inventore, dolores tempora hic eaque similique! Animi, facere tenetur ipsum deleniti totam minus, sit quasi magni culpa maxime non similique.
			form(action="")
				.form-group
					input(type="text", placeholder="Enter you email")
					button Get started

	section#testimonials.testimonials
		.container
			h3 Testimonials & Clients

			.owl-carousel.owl-3.owl-theme
				.item
					.image-holder
						img.fake-img(src='img/content/cl-1.png', alt='img/content/anounc-1.png')
						.img(style='background-image: url("img/content/cl-1.png")')
					.text-holder
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius autem, tenetur odio maxime? Porro, quas quam asperiores expedita doloribus officiis?
						.name
							b Adam Kim, 
							span  Google inc
							
				.item
					.image-holder
						img.fake-img(src='img/content/cl-2.png', alt='img/content/anounc-1.png')
						.img(style='background-image: url("img/content/cl-2.png")')
					.text-holder
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius autem, tenetur odio maxime? Porro, quas quam asperiores expedita doloribus officiis?
						.name
							b Adam Kim, 
							span  Google inc
							

				.item
					.image-holder
						img.fake-img(src='img/content/cl-3.png', alt='img/content/anounc-1.png')
						.img(style='background-image: url("img/content/cl-3.png")')
					.text-holder
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius autem, tenetur odio maxime? Porro, quas quam asperiores expedita doloribus officiis?
						.name
							b Adam Kim, 
							span  Google inc
							
				.item
					.image-holder
						img.fake-img(src='img/content/cl-1.png', alt='img/content/anounc-1.png')
						.img(style='background-image: url("img/content/cl-1.png")')
					.text-holder
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius autem, tenetur odio maxime? Porro, quas quam asperiores expedita doloribus officiis?
						.name
							b Adam Kim, 
							span  Google inc
							
				.item
					.image-holder
						img.fake-img(src='img/content/cl-2.png', alt='img/content/anounc-1.png')
						.img(style='background-image: url("img/content/cl-2.png")')
					.text-holder
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius autem, tenetur odio maxime? Porro, quas quam asperiores expedita doloribus officiis?
						.name
							b Adam Kim, 
							span  Google inc
			.btn-holder
				a.js-open-modal(href="#").button Add comment
	section.clients
		.container
			.owl-carousel.owl-4.owl-theme
				.item
					.image-holder
						img(src='img/content/ts-1.png', alt='img/content/anounc-1.png')
							
				.item
					.image-holder
						img(src='img/content/ts-2.png', alt='img/content/anounc-1.png')
							

				.item
					.image-holder
						img(src='img/content/ts-3.png', alt='img/content/anounc-1.png')
							
				.item
					.image-holder
						img(src='img/content/ts-1.png', alt='img/content/anounc-1.png')
							
				.item
					.image-holder
						img(src='img/content/ts-2.png', alt='img/content/anounc-1.png')
							